# ========================
# Unity
# ========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# ========================
# Visual Studio / Rider
# ========================
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.userprefs
.vs/
obj/
*.csproj.AssemblyReference.cache

# ========================
# Android
# ========================
*.apk
*.aab

# ========================
# OS / IDE
# ========================
.vscode/
.idea/
.DS_Store
Thumbs.db
*.tgz

# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyd

# ========================
# Entornos virtuales
# ========================
.venv/
venv/
env/

# ========================
# PyInstaller
# ========================
build/
dist/
*.spec
*.exe

# ========================
# Archivos generados
# ========================
*.zip
savegame.json